@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body{
    color:black;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url('../imagens/background6.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
  background-color: rgba(255, 255, 255, 0.733);
  border-radius: 10px;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
}

#cabecalho{
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background-image: url('../imagens/backgroundcabecalho1.jpg');
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 23px;
  text-align: center;
  margin: 0px 25px;
}

.tituloprincipal{
  text-align: center;
  line-height: 1em;
  margin: 15px;
}

#contatos{
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.301);
  margin: 30px;
  line-height: 2.5em;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover{
    text-decoration-color: red;
    text-decoration: underline;
}

h2, h3{
  text-align: center;
  margin: 10px;
}


div > p{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 30px;
  background-color: rgba(255, 255, 255, 0.301);
  line-height: 2em;
  font-size: 23px;
  margin: 25px;
  padding: 35px;
}

#certificacoes > ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.301);
  margin: 30px;
  font-size: 20px;
  text-align: center;
}

#diplomas > ul {
  list-style-position: inside;
  line-height: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.301);
  margin: 15px;
  
}

#skills > p {
  line-height: 2em;
  font-size: 23px;
  background-color: rgba(255, 255, 255, 0.301);
  text-align: center;
}

#wpp{
  margin-bottom: -5px;
}

#topicolista > ul{
  text-align: center;
  list-style-position: inside;
  columns: 2;
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.301);
  margin: 30px;
  font-size: 20px;
  text-align: center;
}

#band{
  margin-bottom: -8px;
}

#videos{
  text-align: center;
}

#logostec{
  text-align: center;
  margin: 15px;
}

#logop{
  text-align: center;
}

#logopython{
  margin-bottom: -22px;
}

#logo-angular {
  margin-bottom: -10px;
}

div.video{
  margin: 35px;
  position: static;
  background-color: rgba(255, 255, 255, 0.301);
  text-align: center;
}

div.video > h2, h3 {
  font-size: 25px;
  margin: 35px;
}

div.video hr {
  margin: 35px;
}

#rodape {
  clear: both;
  text-align: center;
  font-size: 20px;
}