@charset "UTF-8";

body{
    text-align: center;
    color:black;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/background6.jpg');
    background-attachment: fixed;
    background-size: 1900px;
    background-repeat: no-repeat;
    background-clip: content-box;
    display: flex;
    
    
}

main{
  background-color: rgba(255, 255, 255, 0.733);
  width: 1200px;
  margin: auto;
  border-radius: 10px;
  background-clip: content-box;
  
}

#cabecalho{
  color: rgb(226, 231, 226);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background-image: url('../imagens/backgroundcabecalho1.jpg');
  background-attachment: local;
  background-size: 1200px;
  background-repeat: no-repeat;
  font-size: 30px;
}

#contatos{
  font-size: 20px;
}

#wpp{
  margin-bottom: -5px;
}

#band{
  margin-bottom: -8px;
}

#videos{
  text-align: center;
}

#logostec{
  margin-top: 20px;
  text-align: center;
}

#logop{
  text-align: center;
}

#logopython{
  margin-bottom: -22px;
}

#video1{
  margin-top: 15px;
  position: relative;
  text-align: center;
}

#video2{
  position: relative;
  text-align: center;
}

#final{
  font-size: 23px;
}

#rodape {
  clear: both;
  text-align: center;
}