@charset "UTF-8";

body{
    color:black;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/background6.jpg');
    background-size: auto;
    display: flex;
    background-attachment: fixed;
    margin: auto;
    background-repeat: repeat;
    
 
    
}

main{
  background-color: rgba(255, 255, 255, 0.733);
  width: 1400px;
  margin: auto;
  border-radius: 10px;
}

#cabecalho{
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background-image: url('../imagens/backgroundcabecalho1.jpg');
  background-attachment: fixed;
  background-size: auto;
  background-repeat: repeat;
  font-size: 23px;
  text-align: center;
  margin: auto;
}

.tituloprincipal{
  text-align: center;
  background-color: rgb(133, 131, 131);
  display: inline-flex;
}

#contatos{
  font-size: 18px;
  text-align: center;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 30px;
}

#wpp{
  margin-bottom: -5px;
}

.topicolista{
  text-align: center;
}

#band{
  margin-bottom: -8px;
}

#videos{
  text-align: center;
}

#logostec{
  margin-top: 20px;
  text-align: center;
}

#logop{
  text-align: center;
}

#logopython{
  margin-bottom: -22px;
}

.video{
  position: relative;
  text-align: center;
}

#rodape {
  clear: both;
  text-align: center;
  font-size: 20px;

}